<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>{{purpose}}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id = "maindiv">
        <form method="POST">
            <label for="uname">Username</label>
            <br>
            <input type="text" id = 'uname' name = 'uname'>
            <br>
            <label for="pass">Password</label>
            <br>
            <input type="password" id = 'pass' name = 'pass'>
            <br>
            <br>
            <input type="submit" value ={{purpose}} >
        </form>
    </div>
</body>
{%if error%}
<script>alert('{{error}}')</script>
{%endif%}
</html>